$h1: #0000ff;
$primary_background: #a3f3c7;

// Buttons
$btn_radius:10px;
$pd_radius:0.5rem 2rem;
$mg_radius: 0.5rem;
$btn_border:0;
$btn_color:white;


  //variables
//theme colours for the buttons
$primary: #14342b;
$secondary: #bab700;
$success: #60935D;
$danger: red;
$dark: #011;

//hover
$hover_pink: #ff579f; //any hover

//other colours
$accent-color: #bab700;
$table-background: #bbdfc5;

//border colors
$border_color: #60935D; //border color for tables and forms default
$border_primary: #14342b;
$border_secondary: #bab700;


// Padding
$xs: 15rem;
$sm: 0.6rem;
$md: 0.938;
$lg: 1.25rem;
$xlg: 1.875rem;

// continue from here!