$h1: #0000ff;
$primary_background: #a3f3c7;

// Buttons
$btn_radius:10px;
$pd_radius:0.5rem 2rem;
$mg_radius: 0.5rem;
$btn_border:0;
$btn_color:white;


$table-background: #bbdfc5;
$hover_pink: #ff579f; //any hover
$accent-color: #bab700; 
$border_color: #60935D; //border color for tables and forms
