@import 'variables';

body {
  font-family: 'Outfit', sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 2em;
}

h2 {
    font-weight: semi-bold;
    font-size: 1.5em;
}

h3 {
    font-weight: regular;
    font-size: 1.2em;
}


.container{
    width: 80%;
    margin: 0 auto;
}

  
  .nav-button:hover {
    background-color: #555;
  }


// Buttons 

.btn{
    border-radius: 10px ;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    border:0;
    color: white;
    background-color: red;

    &:hover {
        background-color: $hover_pink;
        color: white;
    } //closes hover

}

.btn-primary{    //Primary button
    @extend .btn;   
    background-color: $primary;
    
}

.btn-secondary{    //secondary button
    @extend .btn;   
    background-color: $secondary;
    
}

.btn-success{    //success button
    @extend .btn;   
    background-color: $success;
    
}

.btn-danger{    //danger button
    @extend .btn;   
    background-color: $danger;
    
}




.btn-dark{    //dark button
    @extend .btn;   
    background-color: $dark;
    
}






ol li {
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
    width: 100%;
  }




table {
    width: 100%;
    background-color: $table-background;
    border-radius: 0.5rem;

    th, td {
        padding: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        border-bottom: 0.1rem solid $border_color;
      }

      tr:hover {
        background-color: $hover_pink;
        color: white;
    } //closes hover

} //closes table nesting

//Form style

form {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], select {
    width: 100%;
    padding: 1rem 1rem;
    margin: 1rem 0;
    display: inline-block;
    border: 0.1rem solid $border_color;
    border-radius: 0.1rem;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: $accent-color;
    color: white;
    padding: 1rem 1rem;
    margin: 0.1rem 0;
    border: none;
    border-radius: 0.1rem;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: $hover_pink;
  }
  
  .form_container {
    border-radius: 0.1rem;
    background-color: $table-background;
    padding: 1rem;
    width: 100%;
  }
// stop here

.border {
    border-bottom: 0.1rem solid $border_color;
    border-radius: 0.5rem;

    &:hover {
        border-color: $hover_pink;
    } //closes hover
}

.border_primary {
    @extend .border;   
    border-color: $border_primary;
}

.border_secondary {
    @extend .border;
    border-color: $border_secondary;
}

.text {
    margin: auto;
    font-size: 20px;
    text-align: center;
    width: 30%;
    border: 2px solid #60935D;
    padding-top: 20px;
}

.text1 {
@extend .text;
    padding-right: $xs;
}




