@import 'variables';

h1 {
    font-weight: bold;
}

h2 {
    font-weight: semi-bold;
}

h3 {
    font-weight: regular;
}

ol li {
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
  }

  