@import 'variables';

body {
    font-family: 'Outfit', sans-serif;
 }

 h1 {
     font-weight: bold;
     font-size: 2em;
 }

 h2 {
     font-weight: semi-bold;
     font-size: 1.5em;
 }

 h3 {
     font-weight: regular;
     font-size: 1.2em;
 }
